/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fdfdfd;
    color: #333;
    padding: 1rem;
  }
  
    /* Site Layout */
  .layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0% 7%;
    
    grid-template-areas: 
    "header header"
    "sidebar main"
    "sidebar main"
    "footer footer";
  }
  header {
    grid-area: header;
    text-align: center;
    margin-bottom: 20px;
  }
  aside {
    grid-area: sidebar;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    padding: 2px;

  }
  main {
    grid-area: main;
    text-align: center;
    padding: 0.5%;
    border-bottom: 1px solid gray;
  }
  .forum1 {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding: 2%;
    text-align: left;
  }

  #Profile_cards {
    background-color: #fdfdfd;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-family: cursive;
  }

  .Profile_cards_container {
    background-color: #fdfdfd;
    border-radius: 20px;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
  }

  .Profilecards {
      font-size: larger;
      width: 250px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      border-radius: 20px;
      margin: 4%;
      transition:all 0.3s ease;
  }
  .Profilecards summary:hover {
      color: rgb(225, 10, 10);
  }
  .Profilecards:hover {
    transform:scale(1.1);
    cursor: pointer;
  }

  .Profilecards img {
    border-radius: 20px;
    margin: 5px;
    width: 200px;
    height: 200px;
    object-fit:cover;
    
  }

  .Profilecard2 img {
    object-fit: fill;
  }

  .Profilrcard4 img {
    object-position: center;
  }


  
  footer {
    grid-area: footer;
  }
  /* Layout helpers */

  footer {
    font-size: 0.8rem;
    padding: 2%;
    
  }
  
  /* More styles for sections go here */