/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fdfdfd;
    color: #333;
    padding: 1rem;
  }
  
    /* Site Layout */
  .layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0% 7%;
    
    grid-template-areas: 
    "header header"
    "sidebar main"
    "sidebar main"
    "footer footer";
  }
  header {
    grid-area: header;
    border-bottom: 1px solid gray;
    text-align: center;
  }
  aside {
    grid-area: sidebar;
    border-right: 1px solid grey;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 2px;
  }
  main {
    grid-area: main;
    text-align: center;
    padding: 0.5%;
    border-bottom: 1px solid gray;
  }
  .forum1 {
    border: 2px solid black;
    padding: 2%;
    text-align: left;
  }
  footer {
    grid-area: footer;
  }
  /* Layout helpers */

  footer {
    font-size: 0.8rem;
    padding: 2%;
    
  }
  
  /* More styles for sections go here */